@charset "UTF-8";

/* common */
.text-center {
  text-align: center;
}

/* small screen */

  /* main-visual */
  .main-visual {
    width: 100%;
    padding: 0 15px;
  }

  .main-visual__background {
    background-image: url("../image/mainvisual/top_left.jpg"); 
    background-position: center center 30%;
    height: 300px; 
    display: table; 
    width: 100%; 
    background-size: cover;
    background-color: rgb(235, 185, 77 , .6);
  }

  .main-visual__inner {
    width: 100%;
    height: 300px;
    display: table-cell;
    vertical-align: middle; 
    box-sizing: border-box;
  }

  .main-visual__title {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.8;
  }

  .main-visual__subtitle {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.0;
    letter-spacing: 2.0px;
  }

  .main-visual__logo img{
    width: 70.7%;
    height: auto;
  }

  /* document */
  .document {
    width: 100%;
    background-color: #EBB94D;
  }

  .document__inner {
    padding: 20px 0;
    text-align: center;
  }

  .document__intro {
    text-align: center;
    color: #ffffff;
  }
  
  .document__intro-txt1 {
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: .3rem;
  }

  .document__intro-txt2 {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #c7254e;
    font-weight: bold;
    background-color: #F9F2F4;
    padding: 1px;
    border-radius: .5rem;
  }
  
  .document__btn {
    max-width: 80%;
    background-color: #DA6B64;
    color: #ffffff;
    padding: 3px 30px;
    margin: 15px auto 0;
    border-radius: 50px;
  }

  .document__btn:hover {
    cursor: pointer;
    background-color: #d84940;
  }

  .document__btn-txt {
    font-size: 1.7rem;
    line-height: 3.4rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }

  .document__deadline {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 2.4rem;
    padding-top: 15px;
  }

  .document__deadline-txt {
    padding-bottom: 10px;
    letter-spacing: .2rem;
  }

/* about1 */
  .about1 {
    width: 100%;
    padding: 30px 0;
    margin: 0 auto;
  }

  .about1__title {
    font-size: 1.8rem;
    line-height: 4.0rem;
    text-align: center;
  }

  .about1__txt {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
  }

/* midium screen */
@media (min-width: 560px) {

}

/* large screen */
@media (min-width: 960px) {
  
}
